
@{
    ViewBag.Title = "Ulasım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contact" id="contact">
    <div class="container">
        <h3 class="text-head">Contact At Extant</h3>
        <p class="box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mi nulla, in imperdiet arcu hendrerit in.</p>
        <div class="contact-section">

            <form>
                <input type="text" name="Name" placeholder="İsim" /><br />
                <input type="email" name="email" placeholder="Email" /><br />
                <textarea placeholder="Message" rows="6"></textarea>
                <button type="submit" class="submit">Mesaj Gönder</button>
            </form>

        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="infooter">
            <p class="copyright">Copyright &copy; Extant 2014 by <a class="credit" href="http://www.html5layouts.com">HTML5 Layouts</a></p>
        </div>
        <ul class="socialmedia">
            <li><a href="https://twitter.com/"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/"><i class="icon-facebook"></i></a></li>
            <li><a href="https://dribbble.com/"><i class="icon-dribbble"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="icon-linkedin"></i></a></li>
            <li><a href="http://instagram.com/"><i class="icon-instagram"></i></a></li>
        </ul>
    </div>
</div>