<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FemTercihWebServisSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tercih.fem.com.tr/FemTercihWebServis.asmx"
                binding="basicHttpBinding" bindingConfiguration="FemTercihWebServisSoap"
                contract="ServiceReference1.FemTercihWebServisSoap" name="FemTercihWebServisSoap" />
        </client>
    </system.serviceModel>
</configuration>